*{
    margin: 0;
}
body{
    box-sizing: border-box;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  background-attachment: fixed;
}

main{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap:25px ;
   
}


section{
    display: flex;
    width: 20%;
    /* height: 100vh; */
    /* margin: 20px 0px; */
}

/* information */
.information{
    flex-grow:10;
   
    flex-direction: column;
    /* position:fixed; */
    
}
.information .photo{
    width: 50%;
    height: 25vh;
    background-image: url('profile.png');
    background-size: cover;
    /* align-self: flex-start; */
    /* margin-top: 20px; */
    border-radius: 10px;
    margin: 0 auto;
    top:50px;
    position: relative;
    z-index: 1;
    
}
.information .main-info{
    width: 80%;
    height: 25vh;
    background-color: white;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    border-radius: 20px;
   height: 70vh;
   
}
.main-info h1{
    text-align: center;
    margin-top: 10vh;
    font-size:larger;
}
.main-info p{
    text-align: center;
}

.medsos{
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: 8px auto;
    gap: 10px;
    
}
.medsos div{
    width: 20%;
    height: 30px;
    cursor: pointer;
    /* background-color: red; */

    
}
i{
    padding: 5px 10px;
}

.desc-info{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 170px;
    margin: 0 auto;
    background-color: aliceblue;
    gap:20px;
    justify-content: center;
    border-radius: 10px;
}
.desc-info div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 20px;
    
    flex-direction: row;
    gap: 5px;
}

.desc-info .desc-child-img{
width: 30%;
margin: 0 auto;
height: 100%;
/* background-color: gray; */
}
.desc-info .desc-child-img i{
    /* padding: 0px 10px; */
    align-self: center;
    margin: 0 auto;
    
}
.desc-info .desc-child-text{
width: 70%;
margin: 0 auto;
height: 100%;
/* background-color: gray; */
}
.desc-info .desc-child-text p{
    font-size: 10px;
    align-self: center;
    font-weight: bold;
}
.main-info button{
    display: block;
    margin: 6px auto;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


/* main----------------- */

.main{
    flex-grow: 55;
    
    flex-direction: column;
    display: flex;
}
/* article main------------------------------------------------------------------------- */
.main .article{
    width: 100%;
    /* height: 170vh; */
    background-color: white;
    border-radius: 20px;
    margin-top: 25vh;
}

.article .main-top-text{
    display: flex;
    width: 90%;
    /* height: 45vh; */
    margin: 30px auto;
    /* background-color: gray; */
    flex-direction: column;
}
.main-top-text div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.main-top-text div div{
    width: 20%;
    height: 15px;
    border-bottom-style:solid;
    border-color: black;
    /* background-color: white; */
}
.main-top-text .p1{
    display: flex;
    flex-direction: column;
}
.main-top-text div p{
    padding: 10px;
}
.main-top-text div h1{
    font-size: x-large;
}
.what-i-do{
   margin-top: 7vh;
}
.article .box-card1{
    display: flex;
    width: 90%;
    height: 35vh;
    margin: 0 auto;
    /* background-color: gray; */
    flex-direction: row;
    gap: 10px;
}

.card1{
width: 50%;
height: 31.5vh;
background-color: aliceblue;
/* margin: 5px; */
/* align-self: center; */
border-radius: 10px;
display: flex;
flex-direction: row;
gap: 20px;
}
.card2{
width: 50%;
height: 31.5vh;
background-color: aliceblue;
margin: 5px;
align-self: center;
border-radius: 10px;
display: flex;
flex-direction: row;
gap: 20px;
}
.card1 .img-cardMe{
   /* justify-items: center; */
    width: 30%;
    margin: 20px auto;
    /* background-color: gray; */
    display: flex;
    /* background-color: gray; */
}
/* dummy */
header{
    display: none;
}
aside{
    display: none;
}
.myfooter{
    display: none;
}
.card2 .img-cardMe{
    /* justify-items: center; */
     width: 30%;
     margin: 0 auto;
     /* background-color: gray; */
     display: flex;
     /* background-color: gray; */
 }

.card1 .desc-skill{
    display:flex; 
    flex-direction: column;
    
}
.desc-skill h1{
    /* padding-bottom: 5px; */
    font-size: larger;
    padding: 5px;
}
.desc-skill p{
    overflow: hidden;
    font-size:small;
}
.desc-skill{
    overflow: hidden;
}


.article .box-card2{
    display: flex;
    width: 90%;
    height: 35vh;
    margin: 0 auto;
    /* background-color: gray; */
    flex-direction: row;
    gap: 10px;
}
.article .client{
    display: flex;
    width: 100%;
    height: 45vh;
    margin: 30px auto;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.client .myClient{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.client div h1{
    font-size: xx-large;
    text-align: center;
}

/* footer */
footer p{
    text-align: center;
    padding: 5px;
}
footer{
    margin-bottom: 50px;
}

/* article main--------------------------------------------------------------------------------- */

/* certificate main------------------------------------------------------------ */
.main .certif{
    width: 100%;
    height: 175vh;
    border-radius: 20px;
    background-color: white;
    margin-top: 25vh;
}
.main .certif main{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px auto;
}
.certif main .wrap-judul{
    display: flex;
    width: 80%;
    margin: 5px auto;
    flex-direction: row;
    height: 20vh;
    gap: 10px;
}
.certif main .wrap-judul div{
    width: 20%;
    border-bottom: solid;
    height: 10px;
}
.certif main .wrap-judul h1{
    font-size: x-large;
    font-weight: bold;
}
.certif main .desc p{
    padding: 0 50px;
    margin-bottom: 10vh;
    text-align: justify;
}

.big-wrap{
   width: 100%;
   /* height: 30vh; */
   /* background-color: aqua; */
   display: flex;
   flex-direction: row;
   gap:10px;
   justify-content: center;
}
.big-wrap .wrap-card-certif{
    width: 45%;
    height: 35vh;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
}

.sertif1{
    background-image: url('/sertif/dicoding-dasarWeb_page-0001.jpg');
    background-size: cover;
}
.sertif2{
    background-image: url('/sertif/sertif2.jpg');
    background-size: cover;
}
.sertif3{
    background-image: url('/sertif/sertif1.png');
    background-size: cover;
}
.sertif4{
    background-image: url('/sertif/ibm-sertif.png');
    background-size: cover;
}
.sertif5{
    background-image: url('/sertif/dicoding-javascript_page-0001.jpg');
    background-size: cover;
}
.sertif6{
    background-image: url('/sertif/ecoalerts-small.jpg');
    background-size: cover;
}
/* certificate main------------------------------------------------------------ */

/* navigation */
.nav{
    display: block;
    flex-grow: 1;
   /* position: fixed; */
   
}

.mynav{
    width: 15vh;
    height: 45vh;
    background-color: white;
    margin-top: 25vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
     position: fixed;
    /* z-index: 100;  */
}
.mynav div{
    width: 50%;
    height: 40px;
    /* background-color: grey; */
    margin: 1vh auto;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    
}
.mynav div svg{
   /* justify-content: center; */
   align-self: center;
   margin: 0 auto;
   cursor: pointer;
}
.mynav .mynav5{
    display: none;
}

@media  screen and (max-width:1100px) {
    .desc-skill p{
        font-size: x-small;

    }
    .desc-skill h1{
        font-size: medium;
        margin-top: 5px;
    }
}
@media  screen and (max-width:960px) {
    /* .desc-skill p{
        font-size: 11px;
        padding: 5px;

    }
    .desc-skill h1{
        font-size: 20px;
        margin-top: 5px;
    } */
    .information{
        display: none;
    }
    .main{
        margin: 10px;
    }
    .mynav .mynav5{
        display: flex;
    }
    .desc-skill p{
        font-size:small;
        padding: 5px;
        
    }
    .desc-skill h1{
        font-size: medium;
        font-weight: bold;
    }
}
@media  screen and (max-width:768px){
    .desc-skill p{
        font-size:xx-small;
        padding: 5px;
        text-align: center;
    }
    .desc-skill h1{
        font-size: medium;
        font-weight: bold;
    } 
    .big-wrap .wrap-card-certif{
        width: 45%;
        height: 25vh;
    }
    .main .certif{
        height: 150vh;
    }
}
@media screen and (max-width:576px) {
    main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:25px ;
    }
    section{
        width: 95%;
        margin:0 auto;
    }
    .mynav{
        width: 90%;
        height: 10vh;
        background-color:aliceblue;
        margin-top: 10vh;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* justify-content: center; */
        position: fixed;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
         /* position: fixed; */
     
    }
    .nav{
        justify-content: center;
        
    }
    .desc-skill p{
        font-size:xx-small;
        padding: 5px;
        text-align: start;
    }
    .desc-skill h1{
        font-size: medium;
        font-weight: bold;
    }
    .client div h1{
        padding: 5px;
    }
    .big-wrap{
        flex-direction: column;
        /* background-color: red; */
    }
    .big-wrap .wrap-card-certif{
        margin:  0 auto;
        width: 60%;
        height: 25vh;
    }
    .main .certif{
        height: 230vh;
    }
    .fot-cer{
       margin-bottom: 5vh;
    }

}



/* Document Obejct Model */
.hidden{display: none;}

.cloneInfo{
    flex-grow: 2;
   
    flex-direction: column;
    /* position:fixed; */
    
}
.cloneInfo .photo{
    width: 20vh;
    height: 30vh;
    background-image: url('profile.png');
    background-size: cover;
    /* align-self: flex-start; */
    /* margin-top: 20px; */
    border-radius: 10px;
    margin: 0 auto;
    top:50px;
    position: relative;
    z-index: 1;
    
}
.cloneInfo .main-info{
    width: 80%;
    height: 25vh;
    background-color: white;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    border-radius: 20px;
   height: 70vh;
   
}
.main-info h1{
    text-align: center;
    margin-top: 10vh;
}
.main-info p{
    text-align: center;
}

.medsos{
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: 8px auto;
    gap: 10px;
    justify-content: center;
    
}
.medsos div{
    width: 20%;
    height: 30px;
    cursor: pointer;
    /* background-color: red; */

    
}
i{
    padding: 5px 10px;
}

.desc-info{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 170px;
    margin: 0 auto;
    background-color: aliceblue;
    gap:20px;
    justify-content: center;
    border-radius: 10px;
}
.desc-info div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 20px;
    
    flex-direction: row;
    gap: 5px;
}
.desc-info .desc-child-img{
width: 30%;
margin: 0 auto;
height: 100%;
/* background-color: gray; */
}
.desc-info .desc-child-img i{
    /* padding: 0px 10px; */
    align-self: center;
    margin: 0 auto;
    
}
.desc-info .desc-child-text{
width: 70%;
margin: 0 auto;
height: 100%;
/* background-color: gray; */
}
.desc-info .desc-child-text p{
    font-size: 10px;
    align-self: center;
    font-weight: bold;
}
.main-info button{
    display: block;
    margin: 6px auto;
    height: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}
